[Unit]
Description=Servicio DATOS MOVILES
After=multi-user.target

[Service]

Type=simple

ExecStart=/usr/bin/python3 /root/mobile_data_connection/mobile_data.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target